<footer id='footer'>
  <div class="inner wrapper">
    <div class="logo">
       <%= link_to root_path do %>
         <%= image_tag "logo.png", alt: "ロゴ", class: "footer-logo" %>
        <% end %>
    </div>
    <p class="copyright">©︎2025 Ratio.</p>
  </div>
</footer>
