<h1>プライバシーポリシー</h1>


<p>RATIO.（以下「本サービス」）は、以下のとおり個人情報を取り扱います。</p>

<div>
・取得する情報
<p>本サービスでは、Google Analyticsを利用し、アクセス情報（閲覧ページ、利用環境、アクセス日時等）を取得する場合があります。

※現時点では、氏名・メールアドレス等の個人情報は取得しておりません。</p>

・利用目的
<p>取得した情報は、サービスの改善および利用状況の分析のために使用します。<p>

・Google Analyticsについて
<p>本サービスでは、Google LLCが提供するGoogle Analyticsを利用しています。
Google AnalyticsはCookieを使用してデータを収集します。
収集される情報はGoogle社のプライバシーポリシーに基づいて管理されます。</p>

・情報の第三者提供
<p>取得した情報を第三者に提供することはありません。</p>

・改定
<p>本ポリシーは必要に応じて改定することがあります。</p>
</div>
